datasets
loralib
sentencepiece~=0.1.96
git+https://github.com/huggingface/transformers.git
accelerate~=0.17.1
bitsandbytes~=0.37.1
git+https://github.com/huggingface/peft.git
gradio
appdirs
llama-index


pip~=22.0.3
wheel~=0.37.0
cryptography~=3.4.8
setuptools~=58.3.0
future~=0.18.2
torch~=1.7.1
tenacity~=8.2.2
PyYAML~=6.0
numpy~=1.21.3
langchain~=0.0.116