datasets==2.10.1
loralib
sentencepiece~=0.1.96
git+https://github.com/huggingface/transformers.git
accelerate~=0.17.1
bitsandbytes~=0.37.1
git+https://github.com/huggingface/peft.git
gradio==3.22.1
appdirs
llama-index==0.5.1

langchain==0.0.126


torch
tenacity
PyYAML
numpy