datasets
loralib
sentencepiece~=0.1.96
git+https://github.com/huggingface/transformers.git
accelerate~=0.17.1
bitsandbytes~=0.37.1
git+https://github.com/huggingface/peft.git
gradio
appdirs
llama-index


pip
wheel
cryptography
setuptools
future
torch
tenacity
PyYAML
numpy
langchain